---
import PTExtended from "@/components/portabletext/PTExtended.astro"
import { formatDate } from "@/utils";
import { urlFor } from "@/utils/image"

const { mainImage, title, excerpt, _createdAt, body } = Astro.props

export const prerender = false
---

<section class="">
  {
    mainImage ? (
      <img
        class="aspect-video"
        src={urlFor(mainImage).width(1000).url()}
        alt="Cover image"
      />
    ) : (
      <div class="" />
    )
  }
  <div class="">
    <h1 class="text-4xl font-bold my-4">
      {title}
    </h1>
    <p class="text-xl my-2">
      {excerpt}
    </p>
    <p class="my-2 text-sm">
      {formatDate(_createdAt)}
    </p>
    <div class="font-serif prose max-w-none">
      <PTExtended value={body} />
    </div>
    <div x-data x-intersect="console.log('intersected')">
      Intersect
    </div>
  </div>
</section>