---
import '@/styles/tailwind.css'
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/inter'
import '@fontsource-variable/bitter'
import { getSettings } from '../utils/sanity'
import SanityLink from '../components/SanityLink.astro'
import LoadingIndicator from 'astro-loading-indicator/component'
import { tw } from '@/utils'
import SEO from '@/components/SEO.astro'
import Icon from '@/components/Icon.astro'

interface Props {
  seo?: {
    title?: string
    description?: string
    image?: {
      asset: {
        _ref: string
      }
      _type: string
    }
    ogType?: string
  }
}

const { seo } = Astro.props
const settings = await getSettings()

const path = Astro.url.pathname
const titleText =
  path === '/' ? `${settings?.seo?.metaTitle}` : `${seo?.title} - ${settings?.seo.metaTitle}`

const debugClasses = process.env.NODE_ENV === 'development' ? 'debug-screens' : ''
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <SEO
      {...seo}
      settings={settings}
      title={titleText}
    />

    <title>{titleText}</title>
    <ViewTransitions />
    <LoadingIndicator
      color="magenta"
      height="3px"
    />
  </head>
  <body class={tw(debugClasses)}>
    <div class="px-6 sm:px-8">
      <div class="container">
        <header
          class:list={['header', 'flex', 'justify-between', 'items-center', 'py-4', 'relative']}
        >
          <a
            class="font-bold text-2xl"
            href="/"
          >
            STARX
          </a>
          <button
            x-data
            aria-controls="header-nav"
            aria-label="Close Mobile Menu"
            :aria-expanded="$store.global.isMobileMenuVisible ? 'true' : 'false'"
            @click="$store.global.openMobileMenu()"
            x-show="!$store.global.isMobileMenuVisible"
            class:list={['block', 'sm:hidden', 'ml-auto']}
            x-cloak
          >
            <Icon icon="bars-4" />
          </button>
          <button
            x-data
            aria-controls="header-nav"
            aria-label="Open Mobile Menu"
            :aria-expanded="$store.global.isMobileMenuVisible ? 'true' : 'false'"
            @click="$store.global.closeMobileMenu()"
            x-show="$store.global.isMobileMenuVisible"
            class:list={['block', 'sm:hidden', 'ml-auto']}
            x-cloak
          >
            <Icon icon="x-mark" />
          </button>
          <nav>
            <div
              x-data
              x-show="$store.global.isMobileMenuVisible"
              x-cloak
              x-collapse
              id="header-nav"
              class:list={[
                'flex',
                'sm:!block',
                'bg-white',
                'absolute',
                'w-full',
                'left-0',
                'top-full',
                'shadow-lg',
                'sm:shadow-none',
                'sm:!h-auto',
                'sm:static',
              ]}
            >
              <ul
                class:list={[
                  'flex',
                  'flex-col',
                  'space-y-2',
                  'py-4',
                  'sm:py-0',
                  'border-t',
                  'items-start',
                  'sm:items-center	',
                  'sm:space-y-0',
                  'sm:border-none',
                  'sm:py-0',
                  'sm:w-auto',
                  'sm:flex-row',
                  'sm:gap-x-4',
                  'sm:mx-4',
                  'font-medium',
                  'uppercase',
                  'tracking-wide',
                ]}
              >
                {
                  settings?.header?.headerNavigation?.links?.map((link) => (
                    <li>
                      <SanityLink link={link} />
                    </li>
                  ))
                }
                <li>
                  <a
                    href="/search"
                    class=""
                    >search
                  </a>
                </li>
                <li>
                  <a
                    href="/htmx"
                    class=""
                  >
                    HTMX
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <main>
          <slot />
        </main>
        <footer class="py-4 clear-both">
          <div set:html={settings?.footer?.copyrightLineText} />
        </footer>
      </div>
    </div>

    <style is:global>
      :root {
        --example-var: 'something';
      }
    </style>
  </body>
</html>
