---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";

const { post } = Astro.props;
---

<div class="md:flex">
  <div class="flex-[0_0_50%]">
    {
      post.mainImage ? (
        <img
          class=""
          src={urlFor(post.mainImage).width(500).height(300).url()}
          alt="Cover image"
        />
      ) : (
        <div class="" />
      )
    }
  </div>
  <div class="flex-[0_0_50%] pl-2 md:pl-8 pt-4">
    <h3 class="mb-4">
      <a
        class="text-3xl font-bold"
        href={`/post/${post.slug.current}`}
      >
        {post.title}
      </a>
    </h3>
    <p class="">{post.excerpt}</p>
    <p class="text-sm mt-2">
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>
